//${REGISTRY_BASE_URL}/:_auth=${REGISTRY_AUTH}
//${REGISTRY_BASE_URL}/:certfile=${GITHUB_WORKSPACE}/dist/client.cert
//${REGISTRY_BASE_URL}/:keyfile=${GITHUB_WORKSPACE}/dist/client.key
always-auth=true
